.custom-cat-card{
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  transition: transform .2s; 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.custom-cat-card:hover {
  transform:  scale(1.02);
}

.custom-cat-card > h3 {
  color: white;
  margin-left: 10px;
  font-size: 36px;
  cursor: pointer;
}
.orange {
  background: rgb(224,154,21);
background: linear-gradient(90deg, rgba(224,154,21,1) 0%, rgba(224,154,21,1) 53%, rgba(255,206,0,1) 100%);
}

.blue {
  background: rgb(21,109,224);
  background: linear-gradient(90deg, rgba(21,109,224,1) 0%, rgba(43,139,227,1) 53%, rgba(87,201,189,1) 100%);
}

.red {
  background: rgb(232,59,137);
background: linear-gradient(90deg, rgba(232,59,137,1) 0%, rgba(215,46,122,1) 53%, rgba(174,35,98,1) 100%);
}

.custom-shadow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.banner {
  background-color: #EBE4B7;
  border-radius: 10px;
  display: flex;
  /* flex-wrap: wrap; */
  padding: 10px 20px;
  margin-top: 68px;
  min-height: 400px;
  justify-content: space-between;
  align-items: center;
  
}
 
.banner >div> img {
  height: 10.5rem;
}

.price-lead {
  font-size: 34px;
  font-weight: bold;
}



